$primary-color: #3483FA;
$primary-color-hover: #2969C8;
$success-color: #39B54B;
$warning-color: #F97733;
$danger-color: #F83860;
$purple-color: #6D27D9;
$purple-opacity-color: #D8B4FE;
$gray-color: #3F3F46;
$text-color: #71717A;