<div class="cont-menu">
    <div class="logo">
        <img src=".../../../../../../assets/logo/Lennon.png" class="img-logo"/>
    </div>
    <div class="menu-options">
        <a [routerLink]="['home']" routerLinkActive='activo' class="item-menu">Home</a>
        <a [routerLink]="['albumes']" routerLinkActive='activo' class="item-menu">Albumes</a>
        <a [routerLink]="['canciones']"  routerLinkActive='activo' class="item-menu">Canciones</a>
    </div>
    <div class="icono-menu">
        <div class="dibujo-menu">
            <div class="linea"></div>
        </div>
    </div>
</div>